Repository react-native-bridges/react-native-youtube-bridge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx biome check --write {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: setting changeset
  .changeset/README.md
  .changeset/config.json
  bun.lock
  package.json
Due: none

docs: update confributing
  CONTRIBUTING.md
Due: none

chore: remove yarn setting in .gitignore
  .gitignore
Due: none

feat: initial youtube local iframe player
  .watchmanconfig
  babel.config.js
  biome.json
  bun.lock
  lefthook.yml
  package.json
  src/YoutubePlayer.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
  src/index.tsx
  src/test.ts
  src/types/message.ts
  src/types/youtube.ts
  src/utils/format.ts
  src/utils/validate.ts
  src/utils/youtube.ts
  tsconfig.json
Due: lint, types

feat: react-native-youtube-bridge expo example
  example/bun.lock
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/tsconfig.json
Due: lint, types

refactor: remove path alias
  .gitignore
  babel.config.js
  bun.lock
  example/tsconfig.json
  package.json
  src/YoutubePlayer.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/utils/youtube.ts
  tsconfig.json
Due: lint, types

fix(ci): change yarn to bun package manager
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

fix(ci): add example working-directory
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

fix(ci): build web error
  .github/workflows/ci.yml
Due: none

fix(ci): build-web pipeline
  .github/workflows/ci.yml
Due: none

feat: support youtube ifram for web
  biome.json
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/YoutubePlayerWrapper.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/types/iframe.d.ts
  src/types/youtube.ts
  tsconfig.json
Due: lint, types

refactor: applied suggest code review
  src/YoutubePlayer.web.tsx
  src/YoutubePlayerWrapper.tsx
  src/types/iframe.d.ts
Due: lint, types

refactor: iframe type code review
  src/types/iframe.d.ts
Due: lint, types

fix: type
  src/types/iframe.d.ts
Due: lint, types

feat: support youtube iframe for web (#1)
  biome.json
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/YoutubePlayerWrapper.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/types/iframe.d.ts
  src/types/youtube.ts
  tsconfig.json
Due: lint, types

docs: update wip readme
  README.md
Due: none

chore: add js-string-html extension
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
Due: lint, types

refactor: remove unused format
  src/utils/format.ts
Due: lint, types

chore: add expo build script
  example/package.json
Due: none

fix: youTube player state synchronization issues (onReady, mute)
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/youtubeIframeScripts.ts
  src/index.tsx
  src/types/iframe.d.ts
  src/types/message.ts
  src/types/youtube.ts
Due: lint, types

refactor: import sort
  example/src/App.tsx
Due: lint

feat: webview style, iframe style props
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/YoutubePlayerWrapper.tsx
  src/types/youtube.ts
Due: lint, types

fix(example): toggle mute
  example/src/App.tsx
Due: lint

fix: youTube player state synchronization issues (onReady, mute) (#2)
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/YoutubePlayerWrapper.tsx
  src/hooks/youtubeIframeScripts.ts
  src/index.tsx
  src/types/iframe.d.ts
  src/types/message.ts
  src/types/youtube.ts
Due: lint, types

fix(web): web에서 autoplay 정상적으로 안되는 이슈 수정
  src/YoutubePlayer.web.tsx
Due: lint

chore: autoplay description on muted
  example/src/App.tsx
  src/types/youtube.ts
Due: lint, types

chore: autoplay description on muted (#4)
  example/src/App.tsx
  src/types/youtube.ts
Due: lint, types

fix: android newArch & app to webview send message
  .gitignore
  bun.lock
  example/bun.lock
  example/package.json
  package.json
  src/YoutubePlayer.tsx
  src/YoutubePlayerWrapper.tsx
Due: lint

chore: ci test
  .github/actions/setup/action.yml
Due: none

fix(ci): cache restore issue
  .github/actions/setup/action.yml
Due: none

refactor: optimize WebView command injection with helper function
  src/YoutubePlayer.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
Due: lint, types

refactor: handle async commands & always respond, even when id is absent
  src/hooks/youtubeIframeScripts.ts
Due: lint, types

docs: add initial README with Korean and English versions
  CONTRIBUTING.md
  README-ko_kr.md
Due: none

chore(example): update example code
  example/src/App.tsx
Due: lint

docs(readme): fix link korean
  README.md
Due: none

docs: add initial README with Korean and English versions (#6)
  CONTRIBUTING.md
  README-ko_kr.md
  example/src/App.tsx
Due: lint

chore: open blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: rollback blacnk issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix: issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: update bug_report.yml for test
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none
