Repository react-native-bridges/react-native-youtube-bridge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run lint
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(revert): bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat: add dynamic progressInterval support
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
  src/types/message.ts
  src/types/youtube.ts
Due: lint, types

docs: document progressInterval and onProgress callback behavior
  README-ko_kr.md
  README.md
Due: none

refactor: safe number for progress interval
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
Due: lint, types

feat: add dynamic progressInterval support (#7)
  README-ko_kr.md
  README.md
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
  src/types/message.ts
  src/types/youtube.ts
Due: lint, types

docs: update readme
  README-ko_kr.md
  README.md
Due: none

docs: update readme (#8)
  README-ko_kr.md
  README.md
Due: none

ci: release action
  .github/workflows/release.yml
Due: none

ci: release action (#9)
  .github/workflows/release.yml
Due: none

chore(release): v0.1.0
  .changeset/neat-hairs-train.md
Due: none

fix: publish access public config
  package.json
Due: none

fix: changeset config
  .changeset/config.json
Due: none

chore(release): v0.1.0 (#10)
  .changeset/config.json
  .changeset/neat-hairs-train.md
Due: none

chore(actions): add auto assign pr action
  .github/auto_assign.yml
Due: none

chore(actions): add auto assign pr action (#12)
  .github/auto_assign.yml
Due: none

fix: change props name from webviewProps to webViewProps
  .changeset/clean-banks-rescue.md
  README-ko_kr.md
  README.md
  src/YoutubePlayer.tsx
  src/types/youtube.ts
Due: lint, types

fix: change props name from webviewProps to webViewProps (#13)
  .changeset/clean-banks-rescue.md
  README-ko_kr.md
  README.md
  src/YoutubePlayer.tsx
  src/types/youtube.ts
Due: lint, types

fix: where onProgress is not called when seekTo is invoked
  .changeset/gentle-houses-attack.md
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
  src/types/youtube.ts
  src/utils/validate.ts
Due: lint, types

refactor: ensure only one pending timeout per seekTo call
  src/YoutubePlayer.web.tsx
Due: lint

fix: where onProgress is not called when seekTo is invoked (#15)
  .changeset/gentle-houses-attack.md
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/youtubeIframeScripts.ts
  src/types/youtube.ts
  src/utils/validate.ts
Due: lint, types

chore: remove console.log
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
Due: lint

chore: remove console.log (#17)
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
Due: lint

refactor: organize and constantize error codes
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/types/youtube.ts
  src/utils/youtube.ts
Due: lint, types

chore: add changeset
  .changeset/rich-bees-take.md
Due: none

refactor: surface invalid-ID errors to consumers
  src/YoutubePlayer.tsx
Due: lint

refactor: organize and constantize error codes (#18)
  .changeset/rich-bees-take.md
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/types/youtube.ts
  src/utils/youtube.ts
Due: lint, types

chore(package.json): remove src folder when uploading to npm (-53.5kb)
  .changeset/olive-boxes-cheat.md
  package.json
Due: none

chore(package.json): remove src folder when uploading to npm (-53.5kb) (#20)
  .changeset/olive-boxes-cheat.md
  package.json
Due: none

refactor(web): extract YouTubePlayerCore class for better architecture
  .changeset/orange-snakes-wonder.md
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useYoutubePlayer.ts
  src/index.tsx
  src/modules/YouTubePlayerCore.tsx
  src/types/youtube.ts
Due: lint, types

refactor: codereview
  src/hooks/useYoutubePlayer.ts
  src/modules/YouTubePlayerCore.tsx
Due: lint, types

refactor: remove overriding the container ID
  src/modules/YouTubePlayerCore.tsx
Due: lint

refactor(web): extract YouTubePlayerCore class for better architecture (#22)
  .changeset/orange-snakes-wonder.md
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useYoutubePlayer.ts
  src/index.tsx
  src/modules/YouTubePlayerCore.tsx
  src/types/youtube.ts
Due: lint, types

feat: replace videoId prop with flexible source prop
  .changeset/three-papayas-design.md
  README-ko_kr.md
  README.md
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/useYoutubeVideoId.ts
  src/modules/YouTubePlayerCore.tsx
  src/types/youtube.ts
  src/utils/validate.ts
Due: lint, types

refactor: video id
  src/hooks/useYoutubeVideoId.ts
Due: lint, types

feat: add flexible source prop to support videoId and URL (#24)
  .changeset/three-papayas-design.md
  README-ko_kr.md
  README.md
  example/src/App.tsx
  src/YoutubePlayer.tsx
  src/YoutubePlayer.web.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/useYoutubeVideoId.ts
  src/modules/YouTubePlayerCore.tsx
  src/types/youtube.ts
  src/utils/validate.ts
Due: lint, types

feat: external web for youtube iframe webview in android, ios
  example/src/App.tsx
  package.json
  src/YoutubePlayer.tsx
  src/hooks/useCreateLocalPlayerHtml.ts
  src/hooks/useYoutubePlayer.ts
  src/hooks/youtubeIframeScripts.ts
  src/types/youtube.ts
  src/utils/youtube.ts
  tsconfig.build.json
  tsconfig.json
  web/.gitignore
  web/README.md
  web/bun.lock
  web/index.html
  web/package.json
  web/public/vite.svg
  web/src/App.css
  web/src/App.tsx
  web/src/hooks/useWebView.ts
  web/src/index.css
  web/src/main.tsx
  web/src/types/messages.ts
  web/src/types/webview.d.ts
  web/src/utils/index.ts
  web/src/vite-env.d.ts
  web/tsconfig.app.json
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: lint, types

refactor: codereview
  src/YoutubePlayer.tsx
  web/src/App.tsx
Due: lint

chore: remove console
  web/src/App.tsx
  web/src/hooks/useWebView.ts
Due: lint, types
